.navCartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cartLinkNav {
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartContainer {
  position: relative;
}

.cartIcon {
  font-size: 25px;
  opacity: 0.5;
}
