.productGalleryDetailsFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.productGalleryImage {
  width: 300px;
}

.productGalleryTitle {
  margin-top: 10px;
}

.productGalleryPrice {
  margin-top: 5px;
}

.productGallerycolorFlex {
  display: flex;
  margin-top: 10px;
}

.productGalleryColor {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.productGallerycolorDot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
