.navBarWrapper {
  display: flex;
  width: 100vw;
  height: 5vh;
  margin-bottom: 40px;
  margin-top: 40px;
}

.productLinkWrapper {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.individualLinks {
  text-decoration: none;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8fa4a9;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  text-decoration: underline;
  color: #364447;
  text-underline-offset: 5px;
}

.individualLinks:hover {
  text-decoration: underline;
  color: #364447;
  text-underline-offset: 5px;
}

.navLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20vw;
}

.navLogo {
  height: 60px;
  cursor: pointer;
  margin-top: 15px;
}

.navIconsWrapper {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.searchNav {
  display: flex;
  flex-direction: row;
}

.navIcons {
  font-size: 25px;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #8fa4a9;
  cursor: pointer;
  transition: 0.5s;
}

.navIcons:hover {
  opacity: 1;
}

.search:hover {
  color: blue;
}

.user:hover {
  color: green;
}

.heart:hover {
  color: red;
}

.cart:hover {
  color: black;
}

.mobileNavWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogoMobile {
  height: 20px;
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hamburgerMenu {
  margin-right: 25px;
}

@media only screen and (max-width: 768px) {
  .navBarWrapper {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobileNavWrapper {
    display: none;
  }
}
