.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchIcon {
  opacity: 0.5;
  font-size: 25px;
  margin-right: 5px;
}

.searchInput {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  width: 230px;
}

.searchInput:focus {
  outline: none;
}
