.userAccountBoxWrapper {
  border-radius: 25px;
  padding: 20px;
  width: 600px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 30px;
}

.userAccountBoxFlex {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.userAccountBoxWrapper:hover {
  background-color: #f8f9fa;
}
